<div class="pageDiv">

    <div class="container">
    <div class="leftDiv">

      <a href="https://www.linkedin.com/in/joshuacotes/" target="_blank">
        <div class="contactItemDiv">
          <div class="contactImageDiv"><img src="../../../../assets/linkedin.png"></div>
          <div class="contactDescriptonDiv">LinkedIn Profile</div>
        </div>
      </a>

      <a href="https://github.com/kelvinzero" target="_blank">
        <div class="contactItemDiv">
          <div class="contactImageDiv"><img src="../../../../assets/github.png"></div>
          <div class="contactDescriptonDiv">GitHub Projects</div>
        </div>
      </a>

      <a href="mailto: jcotes80@ewu.edu">
        <div class="contactItemDiv">
          <div class="contactImageDiv"><img src="../../../../assets/email.png"></div>
          <div class="contactDescriptonDiv">Contact Me</div>
        </div>
      </a>


    </div>
    <div class="rightDiv">
      <img src="../../../../assets/myclass.jpg">
    </div>
  </div>
</div>

<div class="bottomBar"></div>
