<div class="projectsHolder">
  <div class="cardSpacer">
    <div>
      <mat-card class="projectCard">
        <div class="picHolder">
          <img src="../../../../assets/image1.png">
        </div>
          <div class="titleInfo">
            <div class="titleText">Netstat</div>
            <div class="titleSummary">Technology Demo </div>
          </div>
          <ul>
            <li>Akka actor system project</li>
            <li>Polling actor pings IP address at an interval</li>
            <li>Provides information on internet connection latency</li>
            <li>HK2 dependency injection using Dagger 2</li>
            <li>RESTful endpoints with Jersey 2</li>
            <li>Multi-module project with refined Maven pom inheritance</li>
            <br>
          </ul>
      </mat-card>
    </div>
    <div>
      <mat-card class="projectCard">
        <div class="picHolder">
          <img src="../../../../assets/vrgm.png">
        </div>
        <div class="titleInfo">
          <div class="titleText">VR Gene Miner</div>
          <div class="titleSummary">Virtual reality genetic data mining </div>
        </div>
        <ul>
          <li>Virtual reality visual clustering environment</li>
          <li>Decentralized k-means clustering algorithm</li>
          <li>Process and form associations from genetic expression data</li>
          <li>Unity driven concurrent data mining</li>
          <li>Fully explorable visual cluster representation environment</li>
          <br>
        </ul>
      </mat-card>
    </div>
    <div>
      <mat-card class="projectCard">
        <div class="picHolder">
          <img src="../../../../assets/kmpp.png">
        </div>
        <div class="titleInfo">
          <div class="titleText">Visualized K-Means Clustering</div>
          <div class="titleSummary">K-Means data mining with ++ seeding </div>
        </div>
        <ul>
          <li>K-means clustering with improved seeding</li>
          <li>Seeding optimized with plus plus distribution algorithm</li>
          <li>Categorizes and groups numerical data by data point similarity</li>
          <li>Visual representation of clusters using JFree web view</li>
          <li>Load and display cluster associations from CSV data file</li>
          <br>
        </ul>
      </mat-card>
    </div>
    <div>
      <mat-card class="projectCard">
        <div class="picHolder">
          <img src="../../../../assets/thispage.png">
        </div>
        <div class="titleInfo">
          <div class="titleText">Web Portfolio</div>
          <div class="titleSummary">Web project displaying my portfolio </div>
        </div>
        <ul>
          <li>An experiment in web design and personal professional exposure</li>
          <li>Front end built with HTML, CSS, and Angular 6</li>
          <li>Semi-reactive layouts inspired by Angular Material</li>
          <li>Reflection of work based internal tools projects</li>
          <li>Provides a brief overview of non-work interests and projects</li>
          <br>
        </ul>
      </mat-card>
    </div>
    <div>
      <mat-card class="projectCard">
        <div class="picHolder">
          <img src="../../../../assets/restgrab.png">
        </div>
        <div class="titleInfo">
          <div class="titleText">Biological Data Tool</div>
          <div class="titleSummary">Biological data get and refine tool </div>
        </div>
        <ul>
          <li>Complimentary tool for the VR Gene Miner project</li>
          <li>Access and retrieve gene association data from BIOGrid biological data repository</li>
          <li>Prepare data sets for virtual reality data mining</li>
          <li>Perform natural join on biological data sets</li>
          <li>Create new association data sets from online BIOGrid repositories</li>
        </ul>
      </mat-card>
    </div>
    <div>
      <mat-card class="projectCard">
        <div class="picHolder">
          <img src="../../../../assets/nnet.png">
        </div>
        <div class="titleInfo">
          <div class="titleText">Artificial Neural Network</div>
          <div class="titleSummary">Back propigation neural net in Scala </div>
        </div>
        <ul>
          <li>Scala exploratory project for language learning</li>
          <li>Artificial back propagation neural network</li>
          <li>Learn and predict patterns from training data</li>
          <li>Provides predictive response given an input</li>
          <li>Train network and predict outcome from unknown data</li>
          <br>
        </ul>
      </mat-card>
    </div>
  </div>
</div>
