<div class="pageDiv">
<div class="projectsHolder">
    <div class="cardHolderDiv">
      <a href="https://github.com/kelvinzero/NetStatREST" target="_blank">
        <mat-card>
        <div class="pictureDiv">
          <img src="../../../../assets/image1.png">
        </div>
        <div class="titleHolder">NetStat</div>
        <div class="titleSummary">Technology Demo</div>
        <div class="listDiv">
          <ul>
            <li>Akka actor system project</li>
            <li>Polling actor pings IP address at an interval</li>
            <li>Provides information on internet connection latency</li>
            <li>HK2 dependency injection using Dagger 2</li>
            <li>RESTful endpoints with Jersey 2</li>
            <li>Multi-module project with optimized Maven pom inheritance</li>
          </ul>
        </div>
      </mat-card>
      </a>
    </div>
    <div class="cardHolderDiv">
      <a href="https://github.com/kelvinzero/VRGeneMining_Unity" target="_blank">
      <mat-card>
        <div class="pictureDiv">
          <img src="../../../../assets/vrgm.png">
        </div>
        <div class="titleHolder">VR Gene Miner</div>
        <div class="titleSummary">Genetic Mining in Virtual Reality</div>
        <div class="listDiv">
          <ul>
            <li>Virtual reality visual clustering environment</li>
            <li>Decentralized sequential k-means clustering algorithm</li>
            <li>Process and form associations from genetic expression data</li>
            <li>Unity driven object oriented data mining</li>
            <li>Fully explorable visual cluster representation environment</li>
          </ul>
        </div>
      </mat-card>
      </a>
    </div>
    <div class="cardHolderDiv">
      <a href="https://github.com/kelvinzero/RESTfulAssociationGrabberGUI_BioGRID" target="_blank">
      <mat-card>
        <div class="pictureDiv">
          <img src="../../../../assets/restgrab.png">
        </div>
        <div class="titleHolder">BioGRID Association Tool</div>
        <div class="titleSummary">Biological Data Pre-processing Tool</div>
        <div class="listDiv">
          <ul>
            <li>Complimentary tool for the VR Gene Miner project</li>
            <li>Access and retrieve gene association data from BIOGrid biological data repository</li>
            <li>Prepare data sets for virtual reality data mining</li>
            <li>Perform natural join on biological data sets</li>
            <li>Create new association data sets from online BIOGrid repositories</li>
          </ul>
        </div>
      </mat-card>
      </a>
    </div>
    <div class="cardHolderDiv">
      <a href="https://github.com/kelvinzero/kmeans_wPlusPlus" target="_blank">
      <mat-card>
        <div class="pictureDiv">
          <img src="../../../../assets/kmpp.png">
        </div>
        <div class="titleHolder">Visualized K-Means Clustering</div>
        <div class="titleSummary">K-Means data mining with ++ seeding</div>
        <div class="listDiv">
          <ul>
            <li>K-means clustering with improved seeding</li>
            <li>Seeding optimized with plus plus distribution algorithm</li>
            <li>Categorizes and groups numerical data by data point similarity</li>
            <li>Visual representation of clusters using JFree web view</li>
            <li>Load and display cluster associations from CSV data file</li>
          </ul>
        </div>
      </mat-card>
      </a>
    </div>
    <div class="cardHolderDiv">
      <a href="http://joshuacotes.com" target="_blank">
      <mat-card>
        <div class="pictureDiv">
          <img src="../../../../assets/thispage.png">
        </div>
        <div class="titleHolder">My Web Portfolio</div>
        <div class="titleSummary">A web project about me</div>
        <div class="listDiv">
          <ul>
            <li>An experiment in web design and professional exposure</li>
            <li>Front end built with HTML, CSS, and Angular</li>
            <li>Semi-reactive layouts inspired by Angular Material</li>
            <li>Reflection of work-based internal tools web projects</li>
            <li>Provides a brief overview of non-work related interests and projects</li>
          </ul>
        </div>
      </mat-card>
      </a>
    </div>
    <div class="cardHolderDiv">
      <a href="https://github.com/kelvinzero/BackPropANNJava" target="_blank">
      <mat-card>
        <div class="pictureDiv">
          <img src="../../../../assets/image1.png">
        </div>
        <div class="titleHolder">Artificial Neural Network</div>
        <div class="titleSummary">Trainable predictive machine learning</div>
        <div class="listDiv">
          <ul>
            <li>Artificial back propagation neural network</li>
            <li>Project to learn the Scala programming language</li>
            <li>Learn and predict patterns from training data</li>
            <li>Provides predictive response to given inputs</li>
            <li>Displays output on prediction accuracy</li>
          </ul>
        </div>
      </mat-card>
      </a>
    </div>
</div>
</div>
