<mat-drawer-container class="example-container">
  <mat-drawer class="example-sidenav" mode="side" opened>
    <img class="myPicImage" src="../../../../assets/jcotes.jpg">
    <div class="myInfo">
      <div class="myName">Joshua Cotes</div>
      <div class="myTitle">Full Stack Software Engineer</div>
    </div>
    <div class="sidebarOptions">
      <table>
        <tr>
          <td class="leftCell">
            <mat-icon style="color: darkorange;">sentiment_very_satisfied</mat-icon>
          </td>
          <td class="rightCell">About Me</td>
        </tr>
        <tr>
          <td class="leftCell">
            <mat-icon style="color: green;">multiline_chart</mat-icon>
          </td>
          <td class="rightCell">Experience</td>
        </tr>
        <tr>
          <td class="leftCell">
            <mat-icon style="color: blue;">device_hub</mat-icon>
          </td>
          <td class="rightCell">Projects</td>
        </tr>
        <tr>
          <td class="leftCell">
            <mat-icon style="color: darkgoldenrod;">school</mat-icon>
          </td>
          <td class="rightCell">Education</td>
        </tr>
        <tr>
          <td class="leftCell">
            <mat-icon style="color: firebrick;">description</mat-icon>
          </td>
          <td class="rightCell">CV</td>
        </tr>
        <tr>
          <td class="leftCell">
            <mat-icon style="color: mediumseagreen;">mail</mat-icon>
          </td>
          <td class="rightCell">Contact</td>
        </tr>
      </table>
    </div>
  </mat-drawer>


  <div class="example-sidenav-content">
    <app-about-me></app-about-me>
    <app-my-experience></app-my-experience>
  </div>
</mat-drawer-container>

