<div class="cardHolder">
<mat-card class="experienceCard">
  <mat-card-title class="cardTitle">
    <div class="titleHolder">
      <img src="../../../../assets/clearwater.png" style="width: auto; height: 90%;">
      <div class="headerTextCompany" style="margin-left: 5%; margin-right: auto;">Clearwater Analytics</div>
      <div class="headerTextTitle" style="margin-left: auto;">Software Development Engineer</div>
    </div>
  </mat-card-title>
  <div class="jobInfo">
    <p style="margin-left: 2%;">PRODUCT DEVELOPMENT</p>
    <ul style="margin-left: 5%;">
      <li>Design and improve existing front and back end systems for internal and external use</li>
      <li>Improve system performance and in existing cluster based Akka actor system software</li>
      <li>Design and implement new features for processing high volume requests in Akka</li>
      <li>Optimize security for front end systems and back end REST access</li>
      <li>Implement front end features to support client needs while providing a desirable user experience</li>
      <li>Work closely with other teams to bring security, storage, and multi data center operations to team projects</li>
      <li>Explore and integrate open source software to provide solutions for development challenges</li>
      <li>Update Maven POMs inheritance structure and dependency versions while fixing breaking changes</li>
    </ul>
  </div>
</mat-card>
  <mat-card class="experienceCard">
    This is a mat card
  </mat-card>
  <mat-card class="experienceCard">
    This is a mat card
  </mat-card>
</div>
