<div class="cardHolder">
<mat-card class="experienceCard">
  <mat-card-title class="cardTitle">
    <div class="titleHolder">
      <img src="../../../../assets/clearwater.png" style="width: auto; height: 90%;">
      <div class="headerTextCompany" style="margin-left: 5%; margin-right: auto;">Clearwater Analytics</div>
      <div class="headerTextTitle" style="margin-left: auto;">Software Development Engineer</div>
    </div>
  </mat-card-title>
  <div class="jobInfo">
    <p style="margin-left: 1%;">PRODUCT DEVELOPMENT</p>
    <ul style="margin-left: 3%; margin-bottom: 5%;">
      <li>Design new and improve existing front and back end systems for internal and external use</li>
      <li>Improve system performance in existing cluster based Akka actor system software</li>
      <li>Design and implement new features for processing high volume requests in Akka using RabbitMQ</li>
      <li>Optimize security for front end systems and back end REST access</li>
      <li>Implement front end features to support client needs while providing a desirable user experience</li>
      <li>Work closely with other teams to bring security, storage, and multi data center operations to team projects</li>
      <li>Explore and integrate open source software to provide solutions for development challenges</li>
    </ul>
    <p style="margin-left: 1%;">ACCOMPLISHMENTS</p>
    <ul style="margin-left: 3%; margin-bottom: 5%;">
      <li>Implemented APIs for PGP encryption, SFTP/FTP file transfer, and Amazon S3 file storage on a Ceph cluster</li>
      <li>Brought large scale projects to production by working closely with systems engineers and database administrators</li>
      <li>Implemented stored procedures and set up SQL Server tables for symmetric key data encryption</li>
      <li>Developed front features for PGP and RSA keys to be uploaded, stored, and accessed</li>
      <li>Brought Maven projects and their dependencies to current versions while fixing breaking changes</li>
    </ul>
  </div>
</mat-card>
<mat-card class="experienceCard">
    <mat-card-title class="cardTitle">
      <div class="titleHolder">
        <img src="../../../../assets/EWU.jpg" style="width: auto; height: 90%;">
        <div class="headerTextCompany" style="margin-left: 5%; margin-right: auto;">Eastern Washington University</div>
        <div class="headerTextTitle" style="margin-left: auto;">Computer Literacy Class Instructor</div>
      </div>
    </mat-card-title>
    <div class="jobInfo">
      <p style="margin-left: 2%;">STUDENT DEVELOPMENT</p>
      <ul style="margin-left: 5%; margin-bottom: 5%;">
        <li>Plan lectures and lesson plans based on college requirements for up to 65 computer literacy students</li>
        <li>Deliver lectures on relevant topics related to Microsoft Office, computer hardware, HTML, and university technology</li>
        <li>Plan and teach labs related to topics from class lectures</li>
        <li>Administer examinations for class curriculum competency and submit grades to the university </li>
        <li>Provide office time and tutoring for computer literacy homework and study material</li>
        <li>Explore new topics for class and collaborate with the department coordinator for implementation</li>
      </ul>
      <p style="margin-left: 2%;">ACCOMPLISHMENTS</p>
      <ul style="margin-left: 5%; margin-bottom: 5%;">
        <li>Designed and implemented a new grading spreadsheet that was adopted by other CPLA instructors</li>
        <li>Exceeded department averages for students passing the class</li>
        <li>Developed tools in Python for department instructors to interact with Microsoft Excel spreadsheets</li>
        <li>Presented class material to students in a unique way to bring excitement to computer literacy topics</li>
      </ul>
    </div>
  </mat-card>
</div>
