<div class="aboutMeDiv">
  <div class="mainContent">
    <p class="tagLine">
     Quality-driven full stack developer with a focus on data analytics, distributed systems, collaboration, and software design.
    </p>
    <p class="content">
      I've had a passion for software and programming starting at a very young age, beginning with Apple Basic and Pascal. My career
      has taken a number different forms starting with automotive repair and satellite installation, to clinical laboratory work with
      my Bachelor's degree in biochemistry, then finally a career in software development with my Master's degree
      in computer science. My passion to learn new skills and technologies to solve problems is at the center of my drive to develop
      high-quality scalable software solutions.
    </p>
    <p class="content">
      As a developer, I enjoy discovering open-source tools while bringing a fine attention to detail to develop
      software solutions for my company and personal projects. I'm excited to uncover new technologies and implement new
      solutions to use in ways that help bring positive changes wherever my skills are needed.
    </p>
    <p class="focuses">
      <span class="current">Current Focus:</span>
      <span class="focusList">
        <a href="http://akka.io" target="_blank">Akka</a>,
        <a href="https://jersey.github.io/" target="_blank">Jersey</a>,
        <a href="https://google.github.io/dagger/" target="_blank">Dagger</a>,
        <a href="https://www.bouncycastle.org/" target="_blank"> Data Encryption</a>,
        Data Storage
          (<a href="https://www.microsoft.com/en-us/sql-server/sql-server-2017" target="_blank">SQL Server</a>,
          <a href="https://www.mysql.com/" target="_blank">MySQL</a>,
          <a href="https://www.vaultproject.io/" target="_blank">Vault</a>),
        and Web Design
          (<a href="https://angular.io/" target="_blank">Angular</a>,
          <a href="https://reactjs.org/" target="_blank">React</a>,
          <a href="https://material.angular.io/" target="_blank">Material</a> )
      </span>
    </p>
  </div>
</div>
