<div class="pageDiv">
  <div class="educationBorder">
    <div class="educationChunk">
      <div class="eduHeader">
        <img src="../../../../assets/EWU.jpg">
        <span class="headerTextCompany">Eastern Washington University</span>
        <span class="degreeInfo">M.S. Computer Science</span>
      </div>
      <span class="gpaSpan"></span>
      <div class="content">
        <div class="leftContent">
          <div class="infoList">
            <ul>
              <li>Eastern Washington State University - Cheney, WA &nbsp;&nbsp;&nbsp;2017</li>
              <li>Graduate Service Award recipient</li>
              <li>Emphasis on data analytics and project design</li>
              <li>Class focus on software engineering, scientific programming, data storage, and data representation</li>
              <li>Presented thesis topic to the graduate studies committee</li>
            </ul>
          </div>
        </div>
        <div class="rightContent">
          <div class="eduPic">
            <img src="../../../../assets/coding.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="educationChunk">
      <div class="eduHeader">
        <img src="../../../../assets/whitworth.jpg">
        <span class="headerTextCompany">Whitworth University</span>
        <span class="degreeInfo">B.S. Biochemistry</span>
      </div>
      <span class="gpaSpan"></span>
      <div class="content">
        <div class="leftContent">
          <div class="infoList">
            <ul>
              <li>Whitworth University - Spokane, WA &nbsp;&nbsp;&nbsp;2008</li>
              <li>Studied biological sciences with an emphasis on biochemistry</li>
              <li>Undergraduate curriculum included service learning and international studies</li>
              <li>Class focus on neurobiology, biochemistry, molecular biology, and cell physiology</li>
              <li>Whitworth club volleyball team player 2005-2007</li>
            </ul>
          </div>
        </div>
        <div class="rightContent">
          <div class="eduPic">
            <img src="../../../../assets/biochemistry.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
