<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar class="toolbarContainer">
    <div class="headerBoxLeft">
      <div class="headerMyName">
        JOSHUA COTES
      </div>
      <div class="headerIcons">
        <a href="https://github.com/kelvinzero" class="fa fa-github colorLightBlue"></a>
      </div>
      <div class="headerIcons">
        <a href="http://www.linkedin.com/in/joshuacotes" class="fa fa-linkedin colorLightBlue"></a>
      </div>
      <div class="headerIcons">
        <a href="#" class="fa fa-envelope colorLightBlue"></a>
      </div>
    </div>
    <div class="headerBoxCenter">

    </div>
    <span class="headerSpacer"></span>
    <div class="headerBoxRight">
      <div>
        <a href="#" class="headerInfos">ABOUT ME</a>
      </div>
      <div>
        <a href="#" class="headerInfos">PROJECTS</a>
      </div>
      <div>
        <a href="#" class="headerInfos">EDUCATION</a>
      </div>
    </div>
</mat-toolbar>
