.cardStyle{
  background-color: #575859;
  width: 100%;
  height: fit-content;
  margin-left: -5px;
  margin-top: 5px;
}

.mainFont {
  font-family: Broadway;
  font-size: 150%;
  color: whitesmoke;
}
