<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a href="/" class="navbar-brand">JOSHUA COTES</a>
  <div class="headerIcons">
    <a href="https://github.com/kelvinzero" class="fa fa-github colorLightBlue"></a>
  </div>
  <div class="headerIcons">
    <a href="http://www.linkedin.com/in/joshuacotes" class="fa fa-linkedin colorLightBlue"></a>
  </div>
  <div class="headerIcons">
    <a href="#" class="fa fa-envelope colorLightBlue"></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT ME</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">PROJECTS</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="#">EDUCATION</a>
      </li>
    </ul>
  </div>
</nav>
